body {
  margin: 0;
  font-family:Tahoma, sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 90, 251) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
